.country{
    border: 1px solid gray;
    margin: 10px;
    transition: all .3s;
    display: inline-block;
    padding: 20px 20px;
    text-align: left;
}

.country:hover{
box-shadow: 0px 0px 8px #a2a2a2;
}
.country img{
    height: 170px;
    width: 100%;
}

.visited{
    background-color: black;
}
.nonVisited{
    background-color: transparent;
}

button{
    margin-right: 10px;
}